= row :class => 'header' do
  %h1 Zurb Rush Demo
= row do  
  = columns 4, :mobile => 1 do
    %ul.side-nav
      %li= link_to "Flash Messages", "#flash-messages"
      %li= link_to "Alert Boxes", "#alert-boxes"
      %li= link_to "Labels", "#labels"
      %li= link_to "Forms", "#forms"
    
  = columns 8, :mobile => 3 do
    %a(name="flash-messages")
    %h2 Flash Messages
    %p= link_to "Click here to see some Rails flash messages.", "/set_flash"
    = display_flash_messages

    %a(name="alert-boxes")
    %h2 Alert Boxes
    = alert_box "This is a standard alert."
    = alert_box "This is a success alert.", :success
    = alert_box "This is an alert.", :alert
    = alert_box "This is a secondary alert.", :secondary

    %a(name="labels")
    %h2 Labels
    %p
      = label_box "Standard Label"
      = label_box "Radius Label", :radius
      = label_box "Round Label", :round
    %p
      = label_box "Alert Label", :alert
      = label_box "Radius Success Label", :success, :radius
      = label_box "Round Secondary Label", :secondary, :round

    %a(name="forms")
    %h2 Forms
    = foundation_form_for :user do |f|
      = f.label :username
      = f.field :username

      = f.input :email, :placeholder => "you@example.com"

      = f.input :password
      = f.input :password_confirmation

      = f.input :blog_url, :label => "Blog URL"

      = f.input :mobile, :as => :phone

      = f.input :search

      = f.input :user_time_zone
    
      = f.button :submit