= row :class => 'header' do
  %h1 Zurb Rush Demo
= row do  
  = columns 4, :mobile => 1 do
    Sidebar
  = columns 8, :mobile => 3 do
    %h2 Flash Messages
    %p= link_to "Click here to see some Rails flash messages.", "/set_flash"
    = display_flash_messages
    
    %h2 Alert Boxes
    = alert_box "This is a standard alert."
    = alert_box "This is a success alert.", :success
    = alert_box "This is an alert.", :alert
    = alert_box "This is a secondary alert.", :secondary

    %h2 Labels
    %p
      = label "Standard Label"
      = label "Radius Label", :radius
      = label "Round Label", :round
    %p
      = label "Alert Label", :alert
      = label "Radius Success Label", :success, :radius
      = label "Round Secondary Label", :secondary, :round
    