= row :class => 'header' do
  %h1 Zurb Rush Demo
= row do  
  = columns 4, :mobile => 1 do
    %ul.side-nav
      %li= link_to "Flash Messages", "#flash-messages"
      %li= link_to "Alert Boxes", "#alert-boxes"
      %li= link_to "Labels", "#labels"
    
  = columns 8, :mobile => 3 do
    %a(name="flash-messages")
    %h2 Flash Messages
    %p= link_to "Click here to see some Rails flash messages.", "/set_flash"
    = display_flash_messages

    %a(name="alert-boxes")
    %h2 Alert Boxes
    = alert_box "This is a standard alert."
    = alert_box "This is a success alert.", :success
    = alert_box "This is an alert.", :alert
    = alert_box "This is a secondary alert.", :secondary

    %a(name="labels")
    %h2 Labels
    %p
      = text_label "Standard Label"
      = text_label "Radius Label", :radius
      = text_label "Round Label", :round
    %p
      = text_label "Alert Label", :alert
      = text_label "Radius Success Label", :success, :radius
      = text_label "Round Secondary Label", :secondary, :round

    %a(name="forms")
    %h2 Forms

    = foundation_form_for :user do |f|
      -# = f.label :username, "Your User Name"    
      -# = f.text_field :username

      = f.input :fullname, :label => "Full name!!"

      = f.input :password
      = f.input :password_confirmation

      = f.input :email

      = f.input :url

      = f.input :blog, :as => :url

      = f.input :mobile, :as => :phone

      = f.button :submit